<h1> {{categoria.nome}} </h1>

{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body mt-3">
            <h3> {{ titulo }} </h3>
            <p> {{ descricao }} </p>
            <a href="/postagem/{{slug}}"><button class="btn btn-success"> Leia mais </button></a>
            <hr>
            <small> Data da postagem: {{ data }} </small>
        </div>
    </div>
    {{else}}
        <h2> Não há nenhuma postagem no momento... </h2>
{{/each}}